/* Header.css */

.app-header {
    background-color: #333;
    color: #fff;
    /*padding: 0.5rem;*/
    text-align: center;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    margin: 0 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding:1rem 1rem;
    transition: background-color 0.3s;
}

.nav-links a:hover,
.nav-links a:focus {
    background-color: #555;
}

@media (max-width: 768px) {
    .nav-links li {
        margin: 0 0.5rem;
    }

    .nav-links a {
        padding: 0.5rem;
    }
}

@media only screen and (min-width: 1300px) {
    nav a.button-collapse {
        display: none;
    }
}

nav .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
}

nav .button-collapse i {
    font-size: 2.7rem;
    height: 56px;
    line-height: 56px;
}

